body {
  margin: 0;
  padding: 0;
}

.parentDiv {
  min-height: 100vh;
  display: flex;
  justify-content: center;   /* horizontal center */
  padding-bottom: 300px;         /* move downward from top */
  box-sizing: border-box;
}

.form {
  width: 380px;
  padding: 30px;
  background-color: rgb(30,30,30);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signinheader {
  text-align: center;
  color: white;
  margin: 0;
}

.emailInput,
.passwordInput {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  border: none;
  padding-left: 12px;
  background-color: rgb(13,13,13);
  color: white;
  box-sizing: border-box;
}

button {
  height: 45px;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 87, 48);
  cursor: pointer;
  font-weight: bold;
  transition: all 0.25s ease;
  margin-top: 1.5rem;
}

button:hover {
  background-color: rgb(235, 70, 35);
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(255, 87, 48, 0.35);
}

button:active {
  transform: translateY(0px) scale(0.98);
}

body {
  margin: 0;
  padding: 0;
 
}

#root {
  margin: 0;
  padding: 0;
}

.authRedirectText {
  color: #aaa;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.authRedirectLink {
  color: rgb(255, 87, 48);
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease;
}

.authRedirectLink:hover {
  color: rgb(235, 70, 35);
  text-decoration: underline;
}

